node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.yarn/*

# prebuild
/android
/ios

# expo-cli
expo-env.d.ts

app.config.ts
google-services.json
README_HOWTO.md