node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.yarn/*

# prebuild
/android
/ios

app.json
app.config.ts
google-services.json
README_HOWTO.md