node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.yarn/*

# prebuild
/android
/ios

.env
credentials.json
google-service-account-key.json

expo-env.d.ts